

.szu-img-p1{
    /*-webkit-transform: rotate(30deg);*/
    animation:animatedBackground  1s linear;
    -moz-animation: animatedBackground 1s linear;
    -webkit-animation: animatedBackground 0.3s linear;
    -o-animation: animatedBackground 1s linear;
}

.szu-img-p1-2{
    /*-webkit-transform: rotate(30deg);*/

    animation:animatedBackground  0.3s linear;
    -moz-animation: animatedBackground 0.5s linear;
    -webkit-animation: animatedBackground 0.3s linear;
    -o-animation: animatedBackground 1s linear;

}

.szu-title-p1{
    /*-webkit-transform: rotate(30deg);*/
    animation:animatedBackground  0.3s linear;
    -moz-animation: animatedBackground 0.5s linear;
    -webkit-animation: animatedBackground 0.3s linear;
    -o-animation: animatedBackground 1s linear;
}


.szu-bg-p1{
    /*-webkit-transform: rotate(30deg);*/
    animation:bgmove  1s linear;
    -moz-animation: bgmove  1s  linear infinite alternate ;
    -webkit-animation: bgmove  1s linear infinite alternate;
    -o-animation: bgmove  1s linear infinite alternate;
}

.szu-bg-p1{
    /*-webkit-transform: rotate(30deg);*/
    animation:bgmove  1s linear;
    -moz-animation: bgmove  1s  linear infinite alternate ;
    -webkit-animation: bgmove  1s linear infinite alternate;
    -o-animation: bgmove  1s linear infinite alternate;
}




@keyframes animatedBackground {

    from {
        transform: scale(0,0);
    }
    to {
        transform: scale(1,1);
    }
}



@-moz-keyframes animatedBackground {
    from {
        -moz-transform: scale(0,0);
    }
    to {
        -moz-transform: scale(1,1);
    }
}

@-o-keyframes animatedBackground {
    from {
        -o-transform: scale(0,0);
    }
    to {
        -o-transform: scale(1,1);
    }
}


@-webkit-keyframes animatedBackground {
    from {
        -webkit-transform: scale(0,0);

    }
    to {
        -webkit-transform: scale(1,1);

    }
}


/*背景移动*/

@keyframes bgmove {

    from {
        transform:translate(0px,0px);
    }
    to {
        transform:translate(-50px,0px);
    }
}



@-moz-keyframes bgmove {
    from {
        -moz-transform:translate(0px,0px);
    }
    to {
        -moz-transform: translate(-50px,0px);
    }
}

@-o-keyframes bgmove {
    from {
        -o-transform: translate(0px,0px);
    }
    to {
        -o-transform: translate(-50px,0px);
    }
}


@-webkit-keyframes bgmove {
    from {
        -webkit-transform: translate(0px,0px);

    }
    to {
        -webkit-transform: translate(-50px,0px);
    }


}

.ddz-txt{

    margin: 36px 30px;
    position: absolute;
    color: #ffffff;
    float: left;
    font-size: 16pt;
    font-weight: bold;

}

.ddz_2 img{
    margin: 0 auto;
    margin-top: 10px;
}

.ddz_2 p{
   padding: 0px;
   margin: 0px;
   line-height: 24px;

}
