<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noarchive"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
    <meta name="description" content="<?php echo $this->_meta_description; ?>"/>
    <link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/css/idangerous.swiper.css">
    <link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/css/ddz/szu.css">
    <script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/jquery.js"></script>
    <script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/idangerous.swiper.js"></script>


    <title><?php echo $this->page_title; ?></title>
</head>
<body style="margin: 0px;">


<div class="swiper-container" style="width: 100%; font-family:'Microsoft YaHei','STHeiti', Helvetica, Arial, sans-serif;">
    <div class="swiper-wrapper" >
        <!--First Slide-->
        <div class="swiper-slide" style="background-color: #3D3E40;">

            <script src="http://file-cn.mugeda.com/ads/campaigns/54802561a3664ebb05000003/ddz/20141211010540/loader.js"
                    id="Mugeda_5481e565a3664eb605000116"></script>

        </div>

        <!--Second Slide-->
        <div class="swiper-slide" style="background-color:#FFC700; color:#fff;">

            <img src="<?php echo G_STATIC_URL; ?>/img/mai.png" class="img img-response"
                 style="margin-top: 20px;width: 100%;max-width: 480px;">
            <div class="ddz_2">
                <h1>返利三步</h1>
                <p>1.点点折搜索商品</p>
                <p>2.跳转淘宝购买</p>
                <p>3.确认收货拿返利</p>
            </div>

        </div>

        <!--Third Slide-->
        <div class="swiper-slide">
            3
            <!--<script src="http://file-cn.mugeda.com/ads/campaigns/54802561a3664ebb05000003/ddz-p2/20141211010935/loader.js" id="Mugeda_5487c377a3664ee105000522"></script>-->
        </div>

        <div class="swiper-slide">
            4
            <!--<script src="http://file-cn.mugeda.com/ads/campaigns/54802561a3664ebb05000003/ddz-pg4/20141211011016/loader.js" id="Mugeda_54886102a3664ebc0500060c"></script>-->
        </div>


        <!--Etc..-->
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {

        $('.swiper-container').height(document.documentElement.clientHeight);

        var mySwiper = $('.swiper-container').swiper({
            //Your options here:
            mode: 'vertical',
            loop: true
            //etc..
        });

        var _mrmcp = {
            "redirect_url": "%LINK%?redir=",
            "impression_pixel": "%TRACKURL%",
            "destination_url": "%DESTURL%",
            "custom_params": "%CUSTOMPARAM%",
            "common_path": "",
            "description": "",
            "thumb": "",
            "render_mode": "normal"
        };

//        alert(window.screen.height);


//        $('.swiper-slide').height(window.screen.height/2);

    });


</script>
</body>
</html>
