<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noarchive"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport"/>
    <meta name="description" content="<?php echo $this->_meta_description; ?>"/>
    <link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/css/bootstrap.css">
    <link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/css/idangerous.swiper.css">

    <link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/css/ddz/szu.css">
    <script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/jquery.js"></script>
    <script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/idangerous.swiper.js"></script>
    <script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/layer/layer.min.js"></script>
    <title><?php echo $this->page_title; ?></title>
</head>
<body style="margin: 0px;background-color: #FA5B38; text-align: center">


<div class="swiper-container"
     style="width: 100%; font-family:'Microsoft YaHei','STHeiti', Helvetica, Arial, sans-serif; text-align: center">
    <div class="swiper-wrapper">
        <!--First Slide-->


        <div class="swiper-slide " style="background-color:#F22E2D;">


            <div style="padding: 20px;">
                <img src="<?php echo G_STATIC_URL; ?>/img/ddz-1-01.png"
                     class="img img-responsive" style="max-width: 240px;">
            </div>
            <div style="padding: 0px;">
                <img src="<?php echo G_STATIC_URL; ?>/img/money.png"
                     class="img img-responsive ea_0" style="margin-left: 150px;" id="ddz_ea_0">
            </div>

            <div style="padding: 10px 20px;">
                <img src="<?php echo G_STATIC_URL; ?>/img/ddz-1-02.png" class="img img-responsive">
            </div>


        </div>


        <div class="swiper-slide " style="background-color:#35ADD5;">


            <div style="padding: 20px;">
                <img src="<?php echo G_STATIC_URL; ?>/img/ddz-2-02.png"
                     class="img img-responsive" style="max-width: 240px;">
            </div>

            <div style="padding: 20px;">
                <img src="<?php echo G_STATIC_URL; ?>/img/ddz-2-03.png"
                     class="img img-responsive " style="margin-left: 80px;margin-top: -150px;" id="ddz_ea_1">
            </div>
            <div style="padding: 0px 20px;margin-top: -30px;">
                <img src="<?php echo G_STATIC_URL; ?>/img/ddz-2-01.png" class="img img-responsive">
            </div>

        </div>

        <div class="swiper-slide " style="background-color:#FBC733;">

            <div style="padding:10px 0px;">
                <img src="<?php echo G_STATIC_URL; ?>/img/ddz-3-01.png" class="img img-responsive" style="max-width: 320px">
            </div>
            <div style="padding: 0px;">
                <img src="<?php echo G_STATIC_URL; ?>/img/ddz-3-02.png"
                     class="img img-responsive " style="margin-left: 54px;margin-top:-340px;;" id="ddz_ea_2">
            </div>

            <div style="padding:10px 20px; margin-top: -20px;">
                <img src="<?php echo G_STATIC_URL; ?>/img/ddz-3-04.png" class="img img-responsive" >
            </div>

            <small style="color: #ffffff"> 淘宝 天猫 1号店 京东 唯品会 苏宁 当当 易迅 亚马逊...</small>


        </div>

        <div class="swiper-slide " style="background-color:#F22E2D;">

            <div style="padding: 20px;">
                <img src="<?php echo G_STATIC_URL; ?>/img/cash-02.png"
                     class="img img-responsive" id="ddz_ea_3">
            </div>


            <div style="padding: 0px;">
                <img src="<?php echo G_STATIC_URL; ?>/img/ddz-3-03.png"
                     class="img img-responsive " style="margin-top: 50px;" >

                <p style="color: #FBC733;font-size:14px; margin-top: 20px;">获得100集分宝返利！提到支付宝当钱花</p>
                <p>
                <div class="input-group input-group-lg" style="padding: 10px;">
                    <span class="input-group-addon" style="font-size: 12px;">支付宝账号</span>
                    <input type="text" class="form-control" placeholder="邮箱地址/手机号码" id="alipayid">
                </div>

                </p>
                <p style="margin-top: 20px;"><a class="btn btn-success btn-lg" href="javascript:;" onclick="input_alipay()">马上领取</a></p>
            </div>




        </div>


        <!--Etc..-->
    </div>
</div>

<script type="text/javascript">

    $('.swiper-container').height(document.documentElement.clientHeight);
    $(document).ready(function () {

//        alert(document.documentElement.clientHeight);
//        alert(document.body.clientHeight);


//        $('.slide-img-main').height(document.body.clientHeight*0.3);


        var mySwiper = $('.swiper-container').swiper({
            //Your options here:
            mode: 'vertical',
            loop: false,
            onTouchEnd: function (sw) {

                if (sw.activeIndex > 0) {
                    $('#ddz_ea_' + (sw.activeIndex - 1)).removeClass('ea_' + (sw.activeIndex - 1));
                    $('#ddz_ea_' + (sw.activeIndex + 1)).removeClass('ea_' + (sw.activeIndex + 1));

                } else {
                    $('#ddz_ea_' + (sw.activeIndex + 1)).removeClass('ea_' + (sw.activeIndex + 1));
                }

                $('#ddz_ea_' + sw.activeIndex).addClass('ea_' + sw.activeIndex);


            }

        });


    });

    function input_alipay(){
        var loadi;
        alipay_id = $('#alipayid').val();
//        alert(alipay_id);
        loadi = layer.load('正在发送…');
        $.post("?/pop/submit/",
                {
                    alipayid: alipay_id
                },
                function (data, status) {
                    layer.close(loadi);
                    layer.alert('成功领取!<br>PC端访问点点折，查看到账明细<br>http://diandianzhe.com', 1);
                });


    }


</script>
</body>
</html>
