<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noarchive"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta name="description" content="<?php echo $this->_meta_description; ?>"/>
    <link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/css/idangerous.swiper.css">
    <link rel="stylesheet" href="<?php echo G_STATIC_URL; ?>/css/ddz/szu.css">
    <script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/jquery.js"></script>
    <script type="text/javascript" src="<?php echo G_STATIC_URL; ?>/js/idangerous.swiper.js"></script>


    <title><?php echo $this->page_title; ?></title>
</head>
<body >


<div class="swiper-container" style="width: 100%; background-color: #3D3E40;">
    <div class="swiper-wrapper" >
        <!--First Slide-->
        <div class="swiper-slide" style="text-align: center;padding-top: 10px;">
            <img src="<?php echo G_STATIC_URL; ?>/img/p1-01.png" style="z-index: 1;" >
            <img src="<?php echo G_STATIC_URL; ?>/img/p1-02.png" class="szu-bg-p1" style="margin-left: 50px;">

            <h2 style="color: #ffffff; font:'stheiti'; font-size: 36px" class="szu-title-p1">购物就能赚钱</h2>
        </div>

        <!--Second Slide-->
        <div class="swiper-slide">
            <img src="<?php echo G_STATIC_URL; ?>/img/p1-03.png" >
            <p style="padding: 10px; color: #fff;">同一件商品，有超过1000家商铺在同时销售，点点折召集了其中的一部分商户，他们愿意拿出一部分利润奖励给到他们店消费的用户</p>
        </div>

        <!--Third Slide-->
        <div class="swiper-slide">
            <!-- Any HTML content of the third slide goes here -->3
        </div>
        <!--Etc..-->
    </div>
</div>

<script type="text/javascript">



    $(document).ready(function () {

        $('.swiper-container').height(document.documentElement.clientHeight-16);

        var mySwiper = $('.swiper-container').swiper({
            //Your options here:
            mode:'vertical',
            loop: true
            //etc..
        });

//        alert(window.screen.height);


//        $('.swiper-slide').height(window.screen.height/2);

    });


</script>
</body>
</html>
